html,body {
    margin: 0 auto;
    width: 752px;
    background-color: black;
}

div.all {
    width: 752px;
    ;
    background-color: white;
}

.top {
    display: inline-block;
    width: 752px;
    height: 237px;
    background-color: rgba(45, 112, 83, 1);
    padding: 0;
    margin: 0;
}

.one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.two {
    color: white;
    font-size: 26px;
    flex-grow: 1;
}

.three {
    display: grid;
    padding: 0.5rem 0rem;
}
.center {
    width: 752px;
    height: 470px;
}

.six {
    width: 752px;
    height: 470px;
}

.seven {
    transform: translate(198px, -102px);
}

.eight {
    transform: translate(-109px, -132px);
}

.bottom {
    max-height: 400px;
    background-color: white;
}

.nine {
    border-radius: 50%;
    transform: translate(35px, 79px);
}

.align {
    padding-left: 0px;
    transform: translate(100px, -200px);
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
}

pre {
    text-transform: lowercase;
    transform: translate(357px, -200px);
    font-size: 20px;
}

ul {
    padding-left: 55px;
}

.ten {
    transform: translate(198px, 27px);
}

.eleven {
    transform: translate(-109px, -3px);
}

p {
    padding-left: 40px;
}

h2 {
    text-align: center;
}

.bottom-bottom {
    display: flex;
    justify-content: space-between;
    width: 752px;
    height: 156px;
    transform: translateY(77px);
    background-color: rgba(136, 136, 136, 1);
    padding: 0;
    margin: 0;
}

.twelve {
    padding: 2rem 2rem;
}

.thirteen {
    padding: 6.7rem 0rem 1rem 5rem;
}

.fourteen {
    padding: 4.5rem 2rem 1rem 0rem;
}